<div>
    <app-widget-area></app-widget-area>

</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=20px>
    <mat-card fxFlex=25>
        status
    </mat-card>
    <mat-card fxFlex=25>
        status
    </mat-card>
    <mat-card fxFlex=25>
        status
    </mat-card>
</div>

<mat-list>



    <mat-list-item>Line Chart</mat-list-item>
    <mat-list-item>Line Chart</mat-list-item>
    <mat-list-item>Line Chart</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>
